#inner-box{
    height: 250px;
    width: 250px;
    border-width: 25px;
    border-style: solid;
    border-color: aqua;
    background-color: aquamarine;
}
#outner-box{
    background-color: rgb(0, 115, 255);
    padding: 50;
    width: 300px;
    height: 300px;
}
.sp{
    
}