*{
    margin: 0;
    padding: 0;
}
body{
    color: blueviolet;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
}
p{
    color: rgb(255, 8, 0);
}
.title{
    font-size: 25;
}
.demo01{
    border: 1px solid #000000;
    box-shadow: 10px 10px 10px #000000;
    padding: 15px;
    background-color: #72deff;
    border-radius: 25px;
    background-image:url('https://images.hdqwalls.com/wallpapers/dog-nose.jpg') ; 
}
.box1{
    width: 250px;
    height: 50px;
    border: 10px solid #00ff11;
    padding: 80px;
    display: grid;
    justify-content: center;
    place-items: center;
}
.box2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid #ff0303;
    padding: 80px;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}
